# TODO: Update with exact module version
numpy<2.0.0
opencv_python
loguru
tqdm
thop==0.1.1.post2209072238
ninja
tabulate
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
psutil
tensorboard

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx>=1.13.0
onnx-simplifier==0.4.28
